.background {
  background-color: #1e3245;
}
input.ng-invalid.ng-touched {
  border-color: red;
}

.Card-login {
  position: relative;
  left: 300px;
}

.login-form {
  .btn-login-with-google {
    border: 1px solid #6763f0;
    background: #ffff;
    border-radius: 0.3rem;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
    margin: 0px 12px;
    width: -webkit-fill-available;
  }

  .btn-login {
    border: 1px solid #6763f0;
    background: #6763f0;
    border-radius: 0.5rem;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    width: -webkit-fill-available;
    color: #fff;
  }

  .label-forgot-password {
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
  }
}

.logo {
  img {
    width: 200px;
  }
}

.login-form input {
  background: #fdfdfd;
  width: 100%;
  height: 45px;
  border: 1px solid #bdbdbd;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
}
.login-form input {
  background: #fdfdfd;
  width: 100%;
  height: 18%;
  border: 1px solid #bdbdbd;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 10px;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: 100%;
}
.input-group .passbtn {
  border: 1px solid #bdbdbd; /* Input field ke jaisa border */
  border-left: none; /* Left border hatane ke liye */
  background-color: #fff;
  border-radius: 0 10px 10px 0; /* Right side rounded */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 4px;
}

.input-group .fa {
  color: #161718; /* Icon color */
}

.input-group .passbtn:hover {
  background-color: #e9ecef;
}

// .login-filds{
//     padding: 20px;
// }
.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  // right: 200px;
}

.login-card {
  border-radius: 10px;
  width: 400px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--white-100, #fff);
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
}
.we-fuel-label {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  line-height: 30px;
}
.quality-label {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  line-height: 50px;
}
.input-filds {
  padding: 20px;
}

//   .row{
//     margin: 0px;
//     padding: 0px
//   }
.bg-image {
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .bg-image {
    background-size: contain; /* Ensures full visibility */
    background-position: top;
  }
}
.input-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.text-primary {
  color: #6763f0 !important;
}
.text-center a {
  text-decoration: none;
  transition: color 0.3s;
}
.text-center a:hover {
  color: #0d6efd; /* Bootstrap primary blue */
  text-decoration: underline;
  text-decoration-thickness: 2px; /* makes underline thicker */
  text-underline-offset: 4px; /* adds space above the underline */
}

