<div
  class="container-fluid background min-vh-100 d-flex flex-row align-items-center p-0 m-0"
>
  <!--  -->
  <div class="row fit-to-screen d-flex justify-content-center w-100 p-4 m-0">
    <div class="col-md-8 row d-flex justify-content-center m-0">
      <div class="col-sm-12 col-md-6 col-lg-6 form-card rounded-4 p-0 m-0">
        <div class="logo p-3 d-flex justify-content-center">
          <img
            class="large-logo logo-image"
            src="assets/image/Tecstaq-new-logo-transeparent.png"
            alt="Task Management"
          />
        </div>
        <div class="sign-box d-flex justify-content-center mt-2">
          <div class="login-card p-4 login-form m-0">
            <div class="row login-filds">
              <div class="first-col" *ngIf="verifyemail">
                <h4 class="mb-3 fw-bold fs-3 heading">Forgot Password</h4>
                <small class="text-dark mb-5 fs-6 message"
                  >Enter your email for the verification proccess,we will send
                  code to your email.</small
                >
                <form [formGroup]="form">
                  <div class="col-md-12 input-text mt-3">
                    <label for="email_id" class="input-label mb-2"
                      >Email Id</label
                    >
                    <div class="col-md-12 input-group">
                      <input
                        class="form-control mb-1"
                        name="email_id"
                        id="email_id"
                        placeholder=" Email Id"
                        type="email"
                        formControlName="email_id"
                        [ngClass]="{
                          'is-invalid':
                            controls['email_id'].invalid &&
                            (controls['email_id'].dirty ||
                              controls['email_id'].touched)
                        }"
                      />
                    </div>
                    <div class="text-danger">
                      <span
                        *ngIf="
                          controls['email_id'].invalid &&
                          (controls['email_id'].dirty ||
                            controls['email_id'].touched)
                        "
                      >
                        <span
                          *ngIf="controls['email_id'].errors?.['required']"
                          class="text-danger"
                        >
                          <small>Email is required.</small>
                        </span>
                        <span
                          *ngIf="controls['email_id'].errors?.['email']"
                          class="text-danger"
                        >
                          <small>Invalid email format.</small>
                        </span>
                        <span
                          *ngIf="controls['email_id'].errors?.['pattern']"
                          class="text-danger"
                        >
                          <small>Email must be a valid email address.</small>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="">
                    <button
                      type="submit"
                      class="btn btn-login mt-4 fs-5"
                      (click)="sendOTP()"
                    >
                      Continue
                    </button>
                  </div>
                </form>
              </div>
              <div class="first-col" *ngIf="!verifyemail && !forgotpassword">
                <h4 class="mb-3 fw-bold fs-3 heading">Verification</h4>
                <small class="text-dark mb-5 fs-6 message"
                  >Enter your 6 digits code that you received on your
                  email.</small
                >
                <form [formGroup]="form">
                  <div
                    class="row my-5 login-filed d-flex justify-content-center"
                  >
                    <div class="col-md-11 d-flex justify-content-center">
                      <ng-otp-input
                        [config]="{ length: 6 }"
                        (onInputChange)="onOtpChange($event)"
                        (keydown)="onKeyDown($event)"
                      ></ng-otp-input>
                    </div>
                  </div>
                  <div class="row text-center">
                    <small class="text-dark fs-5 message"
                      >Time left :
                      <span class="text-danger">{{
                        formattedTime
                      }}</span></small
                    >
                  </div>
                  <div class="row justify-content-center">
                    <button
                      type="submit"
                      class="btn btn-login mt-4 fs-5"
                      (click)="verifyOTP()"
                    >
                      {{ otpComplete ? "Verify" : "Continue" }}
                    </button>
                  </div>
                  <div class="mt-3">
                    <small class="text-dark"
                      >If you didn’t receive a code!</small
                    >
                    <samp class="text-danger resend-otp" (click)="sendOTP()">
                      Resend</samp
                    >
                  </div>
                </form>
              </div>
              <div class="first-col" *ngIf="!verifyemail && forgotpassword">
                <h4 class="mb-3 fw-bold fs-3 heading">New Password</h4>
                <small class="text-dark mb-5 fs-6 message"
                  >Set the new password for your account so you can login and
                  access all featuress.</small
                >
                <form [formGroup]="form">
                  <div class="row my-3 login-filed">
                    <div class="col-md-12 input-text mb-2">
                      <label for="password" class="input-label mb-2">
                        New Password</label
                      >
                      <div class="input-group">
                        <input
                          id="password"
                          name="password"
                          class="form-control mb-1"
                          placeholder="*****"
                          [type]="passwordVisible ? 'text' : 'password'"
                          (input)="onnewpassword($event)"
                        />
                        <button
                          class="passbtn"
                          type="button"
                          (click)="togglePasswordVisibility()"
                        >
                          <i
                            [class.fa-eye]="passwordVisible"
                            [class.fa-eye-slash]="!passwordVisible"
                            class="fa fs-5"
                          ></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-12 input-text">
                      <label for="password" class="input-label mb-2">
                        Confirm Password</label
                      >
                      <div class="input-group">
                        <input
                          id="password"
                          name="password"
                          class="form-control mb-1"
                          placeholder="*****"
                          [type]="confirmpasswordVisible ? 'text' : 'password'"
                          (input)="onconfirmpassword($event)"
                        />
                        <button
                          class="passbtn"
                          type="button"
                          (click)="togglePasswordVisibilityConfirm()"
                        >
                          <i
                            [class.fa-eye]="confirmpasswordVisible"
                            [class.fa-eye-slash]="!confirmpasswordVisible"
                            class="fa fs-5"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button
                      type="button"
                      class="btn btn-login mt-4 fs-5"
                      (click)="forgotPassword()"
                    >
                      Update Password
                    </button>
                  </div>
                  <!-- <ng-otp-input   [config]="{length:6}"></ng-otp-input> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
