<div
  class="container-fluid background min-vh-100 d-flex flex-row align-items-center p-0 m-0"
>
  <div class="row fit-to-screen d-flex justify-content-center w-100 p-4 m-0">
    <div class="col-md-8 row d-flex justify-content-center m-0">
      <div class="col-sm-12 col-md-6 col-lg-6 form-card rounded-4 p-0 m-0">
        <div class="logo p-3 d-flex justify-content-center">
          <img
            class="large-logo logo-image"
            src="assets/image/Tecstaq-new-logo-transeparent.png"
            alt="Tecstaq Logo"
          />
        </div>
        <div class="sign-box d-flex justify-content-center mt-2">
          <div class="login-card p-4 login-form m-0">
            <div class="row login-filds mt-2">
              <form [formGroup]="UserForm">
                <div class="row" *ngIf="!verifyemail">
                  <div class="col-md-12 mb-3">
                    <label>Domain <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="domain"
                      #searchInput
                      (input)="onDomainInput($event)"
                      placeholder="Domain"
                      [ngClass]="{
                        'is-invalid':
                          controls['domain'].invalid &&
                          (controls['domain'].dirty ||
                            controls['domain'].touched)
                      }"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        controls['domain'].invalid &&
                        (controls['domain'].dirty || controls['domain'].touched)
                      "
                    >
                      <div *ngIf="controls['domain'].errors?.['required']">
                        <small> Domain is Required</small>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 col-md-12">
                    <label for="user_name" class="mb-1"
                      >Name <span class="text-danger">*</span>
                    </label>
                    <input
                      class="form-control mb-1"
                      id="user_name"
                      placeholder="Name"
                      type="text"
                      formControlName="user_name"
                      [ngClass]="{
                        'is-invalid':
                          controls['user_name'].invalid &&
                          (controls['user_name'].dirty ||
                            controls['user_name'].touched)
                      }"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        controls['user_name'].invalid &&
                        (controls['user_name'].dirty ||
                          controls['user_name'].touched)
                      "
                    >
                      <div *ngIf="controls['user_name'].errors?.['required']">
                        <small> Name is Required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <label
                      class="mb-2 d-flex justify-content-between align-items-center"
                    >
                      <span>Email <span class="text-danger">*</span></span>
                    </label>

                    <input
                      type="email"
                      class="form-control"
                      formControlName="email_id"
                      placeholder="Email"
                      [ngClass]="{
                        'is-invalid':
                          controls['email_id'].invalid &&
                          (controls['email_id'].dirty ||
                            controls['email_id'].touched)
                      }"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        controls['email_id'].invalid &&
                        (controls['email_id'].dirty ||
                          controls['email_id'].touched)
                      "
                    >
                    <div
                        *ngIf="controls['email_id'].errors?.['required']"
                      >
                        <small>Email is Required</small>
                      </div>
                      <small *ngIf="controls['email_id'].errors?.['pattern']"
                        >Invalid email format.</small
                      >
                    </div>
                  </div>
                  <div class="mb-3 col-md-12">
                    <label for="phone_number" class="mb-1">
                      Mobile Number
                      <span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="phone_number"
                        #searchInput
                        (input)="onPhoneInput(searchInput.value)"
                        placeholder="Mobile Number"
                        maxlength="10"
                        pattern="[0-9]*"
                        inputmode="numeric"
                        (keypress)="allowOnlyDigits($event)"
                        [ngClass]="{
                          'is-invalid':
                            controls['phone_number'].invalid &&
                            (controls['phone_number'].dirty ||
                              controls['phone_number'].touched)
                        }"
                      />
                    </div>

                    <div
                      class="text-danger"
                      *ngIf="
                        controls['phone_number'].invalid &&
                        (controls['phone_number'].dirty ||
                          controls['phone_number'].touched)
                      "
                    >
                      <div
                        *ngIf="controls['phone_number'].errors?.['required']"
                      >
                        <small>Mobile Number is Required</small>
                      </div>
                      <div *ngIf="controls['phone_number'].errors?.['pattern']">
                        <small>Mobile Number only 10 digit</small>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="first-col" *ngIf="verifyemail">
                  <h4 class="mb-3 fw-bold fs-3 heading">Verification</h4>
                  <small class="text-dark mb-5 fs-6 message"
                    >Enter your 6 digits code that you received on your
                    email.</small
                  >
                  <form [formGroup]="UserForm">
                    <div
                      class="row my-5 login-filed d-flex justify-content-center"
                    >
                      <div class="col-md-11 d-flex justify-content-center">
                        <ng-otp-input
                          [config]="{ length: 6 }"
                          (onInputChange)="onOtpChange($event)"
                          (keydown)="onKeyDown($event)"
                        ></ng-otp-input>
                      </div>
                    </div>
                    <div class="row text-center">
                      <small class="text-dark fs-5 message"
                        >Time left :
                        <span class="text-danger">{{
                          formattedTime
                        }}</span></small
                      >
                    </div>
                    <div class="row justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-login mt-4 fs-5"
                        (click)="verifyOTP()"
                      >
                        {{ otpComplete ? "Verify" : "Continue" }}
                      </button>
                    </div>
                    <!-- <div class="mt-3">
                    <small class="text-dark"
                      >If you didn’t receive a code!</small
                    >
                    <samp class="text-danger resend-otp" (click)="sendOTP()">
                      Resend</samp
                    >
                  </div> -->
                  </form>
                </div>

                <hr *ngIf="!verifyemail" />
                <div *ngIf="!verifyemail">
                  <button
                    type="submit"
                    class="btn btn-primary px-4 btn-sm fw-bold"
                    (click)="MatchDomain()"
                  >
                    Sign Up
                  </button>
                  <button
                    type="submit"
                    class="btn btn-secondary ms-3 px-4 btn-sm fw-bold"
                    (click)="goToback()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
