
<div>
  <div class="loading" *ngIf="isLoading">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
<router-outlet></router-outlet>
<router-outlet *ngIf="!isAdmin && !isCustomer && !isDevelopment && !isSuperAdmin "></router-outlet>
<div class="container-fluid m-0 p-0">
  
  <div class="row m-0 p-0 flex-nowrap">
      <div class="col-md-12 ">
          <!-- <router-outlet name="admin_Menu"></router-outlet> -->
      </div>
  </div>
  <app-admin-sidebar *ngIf="isAdmin && !isCustomer && !isDevelopment && !isSuperAdmin "></app-admin-sidebar>
   <app-customer-sidebar *ngIf="isCustomer && !isAdmin   && !isDevelopment && !isSuperAdmin  "></app-customer-sidebar>
  <app-development-sidebar *ngIf=" isDevelopment && !isAdmin && !isCustomer && !isSuperAdmin"></app-development-sidebar>
  <app-super-admin-sidebar *ngIf=" !isDevelopment && !isAdmin && !isCustomer && isSuperAdmin"></app-super-admin-sidebar>


</div>

</div>